body{
    max-width: 1200px;
    margin: 0 auto;
    font-family:'Courier New', Courier, monospace;
    background-color:rgb(223, 221, 218)
}

a{
    text-decoration: none;
    color:black
}


.header_image{
    text-align: center;
    height:250px;
    /* background-image: url(/static/images/f-for-fake-1200.jpg); */
    background-size:auto;
    background-repeat: no-repeat;
    /* background-position: center -160px; */
}


.links{
    text-decoration: none;
    color:black;
}

/* div{
    border: 2px solid black
} */

.row{
    display:flex;
    flex-wrap:wrap;
    padding: 0px
}

.director_image{
    height:150px;
    width:auto;
    text-align: center;
}

footer{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}