{% extends 'base.html' %}

{% block title %}All films{% endblock %}

{% block page_title %}All films{% endblock %}

{% block content %}
<h3>But what is a good movie...</h3>
<p>That question is yet to be answered with any real precision. For now, my preferences will suffice.</p>
    <div class="film_grid">
        {% for film in films %}
            <figure class="film_item"><a href="" target="_blank">
                <img class="film_poster" src="/static/images/films/{{film}}.jpg"><br>
                {{film.replace("_", " ").title()}}
            </a></figure>
        {% endfor %}
    </div>


{% endblock %}