<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title> {% block title %} {% endblock %} </title>
</head>
<body>
    <!-- header -->
    
    <!-- links -->
    <div>
        <span style="float:right; margin-block-start:10px;">
            <a class="links" href="/">Home page</a> | 
            <a class="links" href="directors">Directors</a> | 
            <a class="links" href="all_films">All films</a> | 
            <a class="links" href="my_attempts">My attempts</a>
        </span>
        <h1>My favorite movies</h1>
    </div>
    <hr>
    {% block header_image %}{% endblock %}
    
    <!-- page content -->
    {% block content %}{% endblock %}
    
    <!-- footer -->
    <footer>
        <h4>This website is an homage to that which I could not do</h4>
        <a href =''>about the author</a>
    </footer>
</body>
</html>