{% extends 'base.html' %}

{% block content %}
{% for name in names %}
    <details>
        <summary><h3 style="margin:2px">{{name.replace("_", " ").title()}}</h3>
            <div class="director_summary">
            <div>
                <img class="director_image" src="/static/images/{{name}}.jpg">
            </div>
            <div style="margin:auto 15px;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae repellendus perspiciatis natus reiciendis eaque repudiandae consectetur corrupti sequi blanditiis maiores, necessitatibus magnam, asperiores recusandae, aliquam esse? Quaerat quos aperiam reiciendis.</div>
        </div>
        </summary>
        <div class="movie_posters">his main movies</div>
    </details><br>
{% endfor %}


{% endblock %}

<details>
    <summary><h3 style="margin:2px">Akira Kurosawa</h3>
        <div class="director_summary">
        <div>
            <img class="director_image" src="/static/images/akira_kurosawa.jpg">
        </div>
        <div style="margin:auto 15px;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae repellendus perspiciatis natus reiciendis eaque repudiandae consectetur corrupti sequi blanditiis maiores, necessitatibus magnam, asperiores recusandae, aliquam esse? Quaerat quos aperiam reiciendis.</div>
    </div>
    </summary>
    <div class="directors_films">
        <figure style="text-align: center;"><a href="https://www.imdb.com/title/tt0047478/" target="_blank" style="text-align:center">
            <img class="film_poster" src="/static/images/the_seven_samurai.jpg"><br>The Seven Samurai
        </a></figure>
        <figure style="text-align: center;"><a href="https://www.imdb.com/title/tt0042876/" target="_blank">
            <img class="film_poster" src="/static/images/rashomon.jpg"><br>Rashomon
        </a></figure>
        <figure style="text-align: center;"><a href="https://www.imdb.com/title/tt0042876/" target="_blank">
            <img class="film_poster" src="/static/images/yojimbo.jpg"><br>Yojimbo
        </a></figure>
        <figure style="text-align: center;"><a href="https://www.imdb.com/title/tt0042876/" target="_blank">
            <img class="film_poster" src="/static/images/the_bad_sleeps_well.jpg"><br>The Bad Sleeps Well
        </a></figure>
        <figure style="text-align: center;"><a href="https://www.imdb.com/title/tt0042876/" target="_blank">
            <img class="film_poster" src="/static/images/high_and_low.jpg"><br>High and Low
        </a></figure>
        <figure style="text-align: center;"><a href="https://www.imdb.com/title/tt0058888/" target="_blank">
            <img class="film_poster" src="/static/images/red_beard.jpg"><br>Red Beard
        </a></figure>
    </div>
</details><br>