{% extends "base.html" %}

{% block title %}Directors{% endblock %}

{% block page_title %}Directors{% endblock %}

{% block header_image %}<div class="header_image" style="background-image:url(/static/images/Directors.jpg);background-position:center;"></div> {% endblock %}


{% block content %}
    <h2>They take tha blame and hold the glory...</h2>

    <p>this page does not frame the best directors, but serves the sole purpose of reminding myself of the ones that make me love the silver screen</p>
    <p>My criteria are completely subjective...</p>
    <br>

    <div>
        {% for name in names %}
            <details>
                <summary><h3 style="margin:2px">{{name.replace("_", " ").title()}}</h3>
                    <div class="director_summary">
                    <div>
                        <img class="director_image" src="/static/images/{{name}}.jpg">
                    </div>
                    <div style="margin:auto 15px;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae repellendus perspiciatis natus reiciendis eaque repudiandae consectetur corrupti sequi blanditiis maiores, necessitatibus magnam, asperiores recusandae, aliquam esse? Quaerat quos aperiam reiciendis.</div>
                </div>
                </summary>
                <div class="movie_posters">his main movies</div>
            </details><br>
        {% endfor %}
    </div>

{% endblock %}