{% extends "base.html" %}

{% block title %}
    Home page
    {% endblock %}
    
    {% block page_title %}My favorite films{% endblock %}
    
    {% block header_image %}<header class="header_image" style="background-image:url(/static/images/f-for-fake-1200.jpg); background-position: center -160px"></header>{% endblock %}
    
    
    {% block content %}
        <div>
            <h2>Now it's time for an introduction...</h2>
            <p>Ladies and gentlemen, by way of introduction, this is a website about trickery, fraud, about lies</p>
        </div>

        <div>
            
        </div>





    <hr>
        <div>
            <h2>Time for a confession...</h2>
            <p>And wish you all, true and false, a very pleasant good evening.</p>
        </div>

{% endblock %}