{% extends "base.html" %}

{% block title %}
    Home page
{% endblock %}


{% block header_image %}<header class="header_index"></header>{% endblock %}


{% block content %}
        <div>
            <h2>Now it's time for an introduction...</h2>
            <p>Ladies and gentlemen, by way of introduction, this is a website about trickery, fraud, about lies</p>
        </div>





    <hr>
        <div>
            <h2>Time for a confession...</h2>
            <p>And wish you all, true and false, a very pleasant good evening.</p>
        </div>

{% endblock %}