{% extends "base.html" %}

{% block title %}Sugestões{% endblock %}
{% block page_title %}Sugestões{% endblock %}

{% block header_image %}{% endblock %}
{% block active_suggestions %}active{% endblock %}
    
{% block content %}
<div>
    <br>
    <h1>sugira um filme que deveria ser incluído como referência:</h1>
    <form action="/get_suggestion" method="POST">
        <label for="movie_suggestion">Nome do filme:<br>
            <input type="text" id="movie_suggestion" name="movie_suggestion" required>
        </label>
        <br><br>
        <label for="director_suggestion">Diretor do filme:<br>
            <input type="text" id="director_suggestion" name="director_suggestion" required>
        </label>
        <br><br>
        <label for="year_suggestion">Ano de lançamento:<br>
            <input type="text" id="year_suggestion" name="year_suggestion" required>
        </label>
        <br><br>
        <button class="btn btn-sml active" type="submit" value="submit">Enviar sugestão</button>
    </form>
</div>

{% endblock %}